<!doctype html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<title>Parent Portal - Veracross</title>

	<link href="/style/font-awesome.css" media="all" rel="stylesheet" type="text/css"></link>
	<link href="/style/font-awesome-ie7.css" media="all" rel="stylesheet" type="text/css"></link>
	<link href="/style/style.css" media="all" rel="stylesheet" type="text/css"></link>

	<script src="http://code.jquery.com/jquery-latest.js" type="text/javascript"></script>
	<script src="/script/app.js" type="text/javascript"></script>
	
</head>
<body class="" ontouchstart="">


	<div id="household" class="container">

		<div id="household-profile" class="content">


			<h2>Update My Household Profile</h2>

			<div class='instructions'>
				<h4>Instructions</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>

			<div class='content-tabs'>
				<a href="#" class='active'>Actions</a>
				<a href="#">Recent Updates</a>
			</div>

			<div id="profile-actions" class="centered-box">

				<div class="search">
					<input type="text" id="profile-search" placeholder="search actions" />
				</div>

<!-- CATEGORY: HOUSEHOLD CONTACTS -->
				<h4>Household Contacts</h4>
				
				<div class='card-category'>
					<a href="#" id="demo-details">
						Add &amp; Remove Contacts for My Children
						<span class="preview">Relatives, Emergency Contacts &amp; Other Contacts</span>
					</a>
					
					<div id='emergency-contact-details' class="cards clear">
						<div class='cards-tab-selected'>&nbsp;</div>
		
						<%= render '/cards/contact' %>
					
					</div>
				</div>

				<div class='card-category placeholder'><a href="#"><span class="preview"></span></a></div>

				<div class='card-category'>
					<a href="#">
						Pickup Authorization
						<span class="preview">&nbsp;</span>
					</a>
					
					<div id='pickup-details' class="cards clear">
						<div class='cards-tab-selected'>&nbsp;</div>

						<%= render 'cards/pickup' %>
					</div>
				</div>

				<div class='card-category'>
					<a href="#">
						General Communication Recipients
						<span class="preview">School Mailings and Emails</span>
					</a>

					<div id='communication-details' class="cards clear">
						<div class='cards-tab-selected'>&nbsp;</div>

						<%= render 'cards/general_communication' %>	
					</div>
				</div>

				<div class='card-category'>
					<a href="#">Report Card Recipients
						<span class="preview">&nbsp;</span>
					</a>

					<div id='report-card-details' class="cards clear">
						<div class='cards-tab-selected'>&nbsp;</div>

						<%= render 'cards/receive_report_card' %>	
					</div>
				</div>

				<div class='card-category'>
					<a href="#">Change Primary Billing Contact
						<span class="preview">&nbsp;</span>
					</a>

					<div id='billing-contact-details' class="cards clear">
						<div class='cards-tab-selected'>&nbsp;</div>

						<%= render 'cards/billing_contact' %>	
					</div>
				</div>

<!-- CATEGORY: MEDICAL INFORMATION -->
				<h4>Medical Information</h4>
				
				<div class='card-category'>
					<a href="#">
						Review Medical Profile
						<span class="preview">View current profile and submit change requests</span>
					</a>


				</div>

				<div class='card-category placeholder'><a href="#"><span class="preview"></span></a></div>


				<div class='card-category'>
					<a href="#">
						Review Household Doctors
						<span class="preview">Dr. James Cameron</span>
					</a>

					<div id='household-doctor-details' class="cards clear">
						<div class='cards-tab-selected'>&nbsp;</div>
					
						<%= render 'cards/household_doctor' %>
					</div>
				</div>

				<div class='card-category'>
					<a href="#">
						Review Household Dentists
						<span class="preview">Dr. Rita Root</span>
					</a>

					<div id='household-dentist-details' class="cards clear">
						<div class='cards-tab-selected'>&nbsp;</div>

						<%= render 'cards/household_dentist' %>
					</div>

				</div>

				<div class='card-category'>
					<a href="#">
						Medical Notification Recipients
						<span class="preview">&nbsp;</span>
					</a>

					<div id='medical-notification-details' class="cards clear">
						<div class='cards-tab-selected'>&nbsp;</div>

						<%= render 'cards/receive_medical_notification' %>
					</div>
				</div>

				

<!-- CATEGORY: FAMILY INFORMATION -->
				<h4>Family Information</h4>
				<div class='card-category'>
					<a href="#">
						My Personal Contact Information
						<span class="preview">Names, Phones, &amp; Emails</span>
					</a>

					<div id='household-adult-details' class="cards clear">
						<div class='cards-tab-selected'>&nbsp;</div>
						<%= render 'cards/household_adult' %>
					</div>
				</div>

				<div class='card-category'>
					<a href="#">
						My Children Information
						<span class="preview">Names, Phones, &amp; Emails</span>
					</a>

					<div id='household-child-details' class="cards clear">
						<div class='cards-tab-selected'>&nbsp;</div>
						<%= render 'cards/household_child' %>
					</div>
				</div>

				<div class='card-category'>
					<a href="#">
						Change Primary Address
						<span class="preview">1234 Main Street Charleston, SC 38290</span>
					</a>

					<div id='primary-address-details' class="cards clear">
						<div class='cards-tab-selected'>&nbsp;</div>

					</div>

				</div>

				<div class='card-category'>
					<a href="#">
						Add a Secondary Address
						<span class="preview">example: summer home</span>
					</a>

					<div id='secondary-address-details' class="cards clear">
						<div class='cards-tab-selected'>&nbsp;</div>

					</div>
				</div>

				<div class='card-category'>
					<a href="#">
						Review Family Directory Preferences
						<span class="preview">Display address and phone</span>
					</a>

					<div id='directory-preferences-details' class="cards clear">
						<div class='cards-tab-selected'>&nbsp;</div>

					</div>
				</div>

				<div class='card-category'>
					<a href="#">
						Change Primary Communcation Method
						<span class="preview">Both Paper Mail &amp; Email</span>
					</a>

					<div id='communication-method-details' class="cards clear">
						<div class='cards-tab-selected'>&nbsp;</div>

					</div>	
				</div>

				<div class='card-category'>
					<a href="#">
						Update My Employer
						<span class="preview">Sales Manager at Breuer &amp; Co.</span>
					</a>

					<div id='employer-notification-details' class="cards clear">
						<div class='cards-tab-selected'>&nbsp;</div>

					</div>
				</div>

				<div class='card-category'>
					<a href="#">
						Review International Information &amp; Travel
						<span class="preview">Citizenship &amp; Passports</span>
					</a>

					<div id='citizenship-details' class="cards clear">
						<div class='cards-tab-selected'>&nbsp;</div>

					</div>
				</div>


				<div class='card-category'>
					<a href="#">
						Review Vehicles
						<span class="preview">2 vehicles on file</span>
					</a>

					<div id='vehicle-details' class="cards clear">
						<div class='cards-tab-selected'>&nbsp;</div>

					</div>
				</div>

<!-- CATEGORY: GRANDPARENT INFORMATION  -->
				
				
<!-- CATEGORY: ENROLLMENT POLICIES -->
				<h4>Enrollment Policies</h4>

				<div class='card-category popup'>
					<a href="#">
						Review School Permissions
						<span class='preview'>&nbsp;</span>
					</a>
					
					<div id='enrollment-policy-details' class="cards clear">
						<div class='cards-tab-selected'>&nbsp;</div>

					</div>

				</div>				

			</div><!-- /Actions -->

		</div><!-- Content -->
	</div><!-- Container -->

	<div id="overlay"></div>
</body>
</html>